{% extends "base.html" %}

{% block title %} Known Notecards | {% endblock %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h2>
            <ul class="breadcrumb">
                <li><a href="/">Semester List</a> <span class="divider">/</span></li>
                <li><a href="{% url section_list section.semester.id %}">{{ section.semester }}</a> <span class="divider">/</span></li>
                <li><a href="{% url notecard_list section.id %}">{{ section.section_name  }}</a> <span class="divider">/</span></li>
                <li class="active">Known Notecards</li>
            </ul>
        </h2>
        <a class ="btn btn-primary btn-small" id="myButton" type='button' onclick='changeText()'/>
        <span>View Answer &raquo;</span>
        <span style="display:none">View Question &raquo;</span>
        </a>
    </div>
    <!-- Example row of columns -->
    <div class="row">
        <div class="hero-unit" id="notecard">
            {% for notecard in known.object_list %}
                <h2 id="boldStuff">{{ notecard.notecard_name_html|safe }}</h2>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
                <script type="text/javascript">
                    function changeText(){
                        var elem = document.getElementById("myButton");
                        if (document.getElementById("boldStuff").innerHTML == "{{ notecard.notecard_html|escapejs }}")
                        {
                            document.getElementById("boldStuff").innerHTML = "{{ notecard.notecard_name_html|escapejs }}";
                            $('span',elem).toggle();
                        }
                        else
                        {
                            document.getElementById("boldStuff").innerHTML = "{{ notecard.notecard_html|escapejs }}";
                            $('span',elem).toggle();
                        }
                    }
                </script>
                </div>
                <p><a class ="btn btn-primary btn-small" href="{% url notecards.views.edit_notecard notecard.id %}"> Edit &raquo;</a></p>
                <form id="modify" method=POST action="{% url notecards.views.toggle_known notecard.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{% url notecards.views.known_list notecard.section.id %}?page={{known.number}}">
                    <input class ="btn btn-danger btn-small" id ="myButton" type="submit" value="Send to Unknown Pile">
                </form>
            {% endfor %}
    </div>
    <div class="pagination pagination-centered">
        <ul>
            <li {% if not known.has_previous %}class="disabled"{% endif %}><a class="navlink" href="?page={{ known.previous_page_number }}">Prev</a></li>
            {% for page in paginator.page_range %}
                <li {% if known.number == page %}class="active"{% endif %}><a class="navlink" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
            <li {% if not known.has_next %}class="disabled"{% endif %}><a class="navlink" href="?page={{ known.next_page_number }}">Next</a></li>
        </ul>
    </div>
{% endblock %}
