{% extends "base.html" %}
{% block title %} Notecard List | {% endblock %}

{% block content %}
<div id='main'>
<table id='notecards'>
  <tr>
    <th class="name"><a class="back" href="{% url 'section_list' section.semester.id %}">{{ section.semester }}</a> - {{ section.section_name }}</th>
  </tr>
  <tr>
    <td><a class="known" href="{% url 'notecards.views.known_list' section.id %}">Known </a><a class="unknown" href="{% url 'notecards.views.unknown_list' section.id %}"> Unknown</a></td>
  </tr>
</table>

<table id='known_split'>
{% for notecard in notecard_list.object_list %}
<tr>
<td class="image">{% if notecard.known %}<img src="{{ STATIC_URL }}/images/known.png" width="41" height="40" />{% else %}<img src="{{ STATIC_URL }}/images/unknown.png" width="41" height="40" />{% endif %}</td>
<td class="text"><a href="{% url 'notecards.views.notecard_detail' notecard.id %}">{{ notecard.notecard_name|truncatewords:9 }}</a></td>
</tr>
{% endfor %}
</table>

<div class="pagination">
  <span class="step-links">
{% if notecard_list.has_previous %}
<a class="navlink" href="?page={{ notecard_list.previous_page_number }}">previous</a>
{% endif %}

<span class="current">
Page {{ notecard_list.number }} of {{ notecard_list.paginator.num_pages }}
</span>

{% if notecard_list.has_next %}
<a class="navlink" href="?page={{ notecard_list.next_page_number }}">next</a>
{% endif %}
  </span>
</div>

<FORM id="modify" METHOD="LINK" ACTION="{% url 'notecards.views.new_notecard' section.id %}">
<INPUT id ="myButton" TYPE="submit" VALUE="Add New Notecard">
</FORM>
</div>
{% endblock %}