{% extends "base.html" %}

{% block title %} Notecard List | {% endblock %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h2>
            <ul class="breadcrumb">
                <li><a href="/">Semester List</a> <span class="divider">/</span></li>
                <li><a href="{% url section_list section.semester.id %}">{{ section.semester }}</a> <span class="divider">/</span></li>
                <li class="active">{{ section.section_name }}</li>
            </ul>
        </h2>
        <p><a class="btn btn-success btn-small" href="{% url notecards.views.known_list section.id %}">Known List &raquo;</a> <a class="btn btn-danger btn-small" href="{% url notecards.views.unknown_list section.id %}">Unknown List &raquo;</a></p>
        <p><a class="btn btn-primary btn-large" href="{% url notecards.views.new_notecard section.id %}">Add New Notecard &raquo;</a></p>
    </div>
    <!-- Example row of columns -->

        {% if notecard_list.object_list %}
            <div class="row">
            {% for notecard in notecard_list.object_list %}
                <div class="span4">
                    <h2>{{ notecard.notecard_name|truncatewords:5 }}</h2>
                    <p>{% if notecard.known %}<span class="label label-success"> Known </span>{% else %}<span class="label label-important">Unknown</span>{% endif %}</p>
                    <p><a class="btn btn-primary btn-small" href="{% url notecards.views.notecard_detail notecard.id %}">View Notecard &raquo;</a></p>
                </div>
            {% endfor %}
        {% else %}
            <div class="hero-unit">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Now the fun part:</h4>
                Create a new notecard above. Your created notecards will appear here individually, and are separated into piles.
                By default, notecards will start in the "Unknown Pile". You can view your Unknown Pile above - and once you learn a card, send it to the Known Pile!
                Be sure to revisit your Known Pile for a refresher!
            </div>
        {% endif %}
    </div>

    <div class="pagination pagination-centered">
        <ul>
            <li {% if not notecard_list.has_previous %}class="disabled"{% endif %}><a class="navlink" href="?page={{ notecard_list.previous_page_number }}">Prev</a></li>
            {% for page in paginator.page_range %}
                <li><a class="navlink" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
            <li {% if not notecard_list.has_next %}class="disabled"{% endif %}><a class="navlink" href="?page={{ notecard_list.next_page_number }}">Next</a></li>
        </ul>
    </div>
{% endblock %}
