{% extends "base.html" %}

{% block title %} Notecard Detail | {% endblock %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h2>
            <ul class="breadcrumb">
                <li><a href="/">Semester List</a> <span class="divider">/</span></li>
                <li><a href="{% url section_list notecard.section.semester.id %}">{{ notecard.section.semester }}</a> <span class="divider">/</span></li>
                <li><a href="{% url notecard_list notecard.section.id %}">{{ notecard.section }}</a> <span class="divider">/</span></li>
                <li class="active">Notecard Detail</li>
            </ul>
        </h2>
        <a class ="btn btn-primary btn-small" id="myButton" type='button' onclick='changeText()'/>
        <span>View Answer &raquo;</span>
        <span style="display:none">View Question &raquo;</span>
        </a>
        <p><a class ="btn btn-inverse btn-mini" href="{% url notecards.views.edit_notecard notecard.id %}"> Edit &raquo;</a></p>
    </div>
    <!-- Example row of columns -->
    <div class="row">
        <div class="hero-unit" id="notecard">
            <h2 id="boldStuff">{{ notecard.notecard_name_html|safe }}</h2>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
            <script type="text/javascript">
                function changeText(){
                    var elem = document.getElementById("myButton");
                    if (document.getElementById("boldStuff").innerHTML == "{{ notecard.notecard_html|escapejs }}")
                    {
                        document.getElementById("boldStuff").innerHTML = "{{ notecard.notecard_name_html|escapejs }}";
                        $('span',elem).toggle();
                    }
                    else
                    {
                        document.getElementById("boldStuff").innerHTML = "{{ notecard.notecard_html|escapejs }}";
                        $('span',elem).toggle();
                    }
                }
            </script>
        </div>
    </div>
{% endblock %}
