{% extends "base.html" %}

{% block title %} Notecard List | {% endblock %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h2>
            <ul class="breadcrumb">
                <li><a href="/">Semester List</a> <span class="divider">/</span></li>
                <li class="active">Search Results</li>
            </ul>
        </h2>
        <p><a class="btn btn-success btn-small" href="{% url notecards.views.known_list section.id %}">Known List &raquo;</a> <a class="btn btn-danger btn-small" href="{% url notecards.views.unknown_list section.id %}">Unknown List &raquo;</a></p>
        <p><a class="btn btn-primary btn-large" href="{% url notecards.views.new_notecard section.id %}">Add New Notecard &raquo;</a></p>
    </div>
    <!-- Example row of columns -->
    <div class="row">
        {% for notecard in notecard_list.object_list %}
            <div class="span4">
                <h2>{{ notecard.notecard_name|truncatewords:9 }}</h2>
                <p>{% if notecard.known %}<span class="label label-success"> Known </span>{% else %}<span class="label label-important">Unknown</span>{% endif %}</p>
                <p><a class="btn btn-primary btn-small" href="{% url notecards.views.notecard_detail notecard.id %}">View notecard &raquo;</a></p>
            </div>
        {% endfor %}
    </div>

    <div class="pagination pagination-centered">
        <ul>
            <li {% if not notecard_list.has_previous %}class="disabled"{% endif %}><a class="navlink" href="?page={{ notecard_list.previous_page_number }}">Prev</a></li>
            {% for page in paginator.page_range %}
                <li><a class="navlink" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
            <li {% if not notecard_list.has_next %}class="disabled"{% endif %}><a class="navlink" href="?page={{ notecard_list.next_page_number }}">Next</a></li>
        </ul>
    </div>
{% endblock %}
