{% extends "base.html" %}

{% block title %} Section List | {% endblock %}

{% block content %}
<div id='main'>
<table id='notecards'>
    <thead>
      <tr>
        <th class="name">{{ semester.semester_name }}</th>
      </tr>
    </thead>
    <tbody>
    {% for section in section_list.object_list %}
      <tr>
        <td><a href="{% url 'notecards.views.notecard_list' section.id %}">{{ section.section_name }}</a><a class ="edit" href="{% url 'notecards.views.edit_section' section.id %}"> Edit </a></td>
      </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination">
  <span class="step-links">
	{% if section_list.has_previous %}
      <a class="navlink" href="?page={{ section_list.previous_page_number }}">previous</a>
		{% endif %}
		
	  <span class="current">
		Page {{ section_list.number }} of {{ section_list.paginator.num_pages }}
	  </span>
		
	{% if section_list.has_next %}
	  <a class="navlink" href="?page={{ section_list.next_page_number }}">next</a>
	{% endif %}
  </span>
</div>
<FORM id="modify" METHOD="LINK" ACTION="{% url 'notecards.views.new_section' semester.id %}">
<INPUT id ="myButton" TYPE="submit" VALUE="Add New Section">
</FORM>
</div>
{% endblock %}
