{% extends "base.html" %}

{% block title %} Welcome, {{ user.username }}! | {% endblock %}

{% block content %}
<div id='main'>
<table id='notecards'>
	<thead>
	  <tr>
        <th class="name">Semester List<br></th>
	  </tr>
	</thead>
	<tbody>
	  {% for sem in semester_list.object_list %}
		<tr>
		  <td><a href="{% url notecards.views.section_list sem.id %}">{{ sem.semester_name }}</a><a class ="edit" href="{% url notecards.views.edit_semester sem.id %}"> Edit </a></td>
	    </tr>
	  {% endfor %}
	</tbody>
</table>
<div class="pagination">
  <span class="step-links">
	{% if semester_list.has_previous %}
      <a class="navlink" href="?page={{ semester_list.previous_page_number }}">previous</a>
		{% endif %}
		
	  <span class="current">
		Page {{ semester_list.number }} of {{ semester_list.paginator.num_pages }}
	  </span>
		
	{% if semester_list.has_next %}
	  <a class="navlink" href="?page={{ semester_list.next_page_number }}">next</a>
	{% endif %}
  </span>
</div>
<FORM id="modify" METHOD="LINK" ACTION="{% url notecards.views.new_semester %}">
<INPUT id ="myButton" TYPE="submit" VALUE="Add New Semester">
</FORM>
</div>
{% endblock %}
