{% extends "base.html" %}

{% block title %} Unknown Notecards | {% endblock %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h2>
            <ul class="breadcrumb">
                <li><a href="/">Semester List</a> <span class="divider">/</span></li>
                <li><a href="{% url section_list section.semester.id %}">{{ section.semester }}</a> <span class="divider">/</span></li>
                <li><a href="{% url notecard_list section.id %}">{{ section.section_name  }}</a> <span class="divider">/</span></li>
                <li class="active">Unknown Notecards</li>
            </ul>
        </h2>
        <a class ="btn btn-primary btn-small" id="myButton" type='button' onclick='changeText()'/>
        <span>View Answer &raquo;</span>
        <span style="display:none">View Question &raquo;</span>
        </a>
        {% for notecard in unknown.object_list %}
    <p><a class ="btn btn-primary btn-mini" href="{% url notecards.views.edit_notecard notecard.id %}"> Edit &raquo;</a></p>
    <form id="modify" method=POST action="{% url notecards.views.toggle_known notecard.pk %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url notecards.views.unknown_list notecard.section.id %}?page={{unknown.number}}">
        <input class ="btn btn-success btn-small" id ="myButton" type="submit" value="Send to Known Pile">
    </form>
    </div>
    <!-- Example row of columns -->
    <div class="row">
            <ul class="pager">
                <li class="previous"><a class="navlink" href="?page={{ unknown.previous_page_number }}">Prev</a></li>
                <li class="next"><a class="navlink" href="?page={{ unknown.next_page_number }}">Next</a></li>
            </ul>
        <div class="hero-unit" id="notecard">
            <h2 id="boldStuff">{{ notecard.notecard_name_html|safe }}</h2>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
            <script type="text/javascript">
                function changeText(){
                    var elem = document.getElementById("myButton");
                    if (document.getElementById("boldStuff").innerHTML == "{{ notecard.notecard_html|escapejs }}")
                    {
                        document.getElementById("boldStuff").innerHTML = "{{ notecard.notecard_name_html|escapejs }}";
                        $('span',elem).toggle();
                    }
                    else
                    {
                        document.getElementById("boldStuff").innerHTML = "{{ notecard.notecard_html|escapejs }}";
                        $('span',elem).toggle();
                    }
                }
            </script>
        </div>
        {% endfor %}
    </div>
    <div class="pagination pagination-centered">
        <ul>
            {% for page in paginator.page_range %}
                <li {% if unknown.number == page %}class="active"{% endif %}><a class="navlink" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
