{% extends "base.html" %}
{% block title %} About | {% endblock %}

{% block content %}
    <div class="hero-unit">
    <h1>Notecards! A better way to learn.</h1><br>
    <p>Notecards! is a studying alternative to physical notecards.</p>
    <p>One of the most proven ways to learn is to write study material on the front of a notecard, and the answer on the back - allowing you to quiz yourself on the material.
    Depending on what you are studying, you could end up with hundreds, if not thousands, of notecards. That amount of notecards would be almost impossible to carry around on your commute,
    on vacation, or even to another room.</p>
    <p>With the help of Notecards! you can have all of your notecards, no matter how many, at the palm of your hands anywhere you have a web-enabled device.</p><br>
    <h2>Features:</h2>
    <p> - Sort your notecards by Semester and Section</p>
    <p> - Place your notecards into two piles - Known and Unknown - allowing you to focus more on what you don't know, but still allow you to review what you do know</p>
    <p> - All with the convenient access to your notecards - anywhere!</p>
    </div>
{% endblock %}