{% extends "base.html" %}
{% block title %} Contact | {% endblock %}

{% block content %}
    <div class="hero-unit">
    <p>Notecards! is hosted on Github at https://github.com/DanHoerst/notecard. Feel free to fork a copy and make changes.</p>
    <p>If you have any questions or suggestions, feel free to contact me by any of the methods below. I will respond as soon as possible.</p><br><br>
    <p>Email: DHoerst1@gmail.com</p>
    <p>Github: https://github.com/DanHoerst/</p>
    <p>StackOverflow: http://stackoverflow.com/users/722427/dan-hoerst</p>
    <p>LinkedIn: www.linkedin.com/in/danhoerst/</p>
    </div>
{% endblock %}