{% extends "base.html" %}

{% block content %}
<form id="modify" action="" method="post">
{% csrf_token %}
{% if form.errors %}<p>Please correct the following fields:</p>{% endif %}
<div class="register_div">
	{% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
	<p><label for="username" {% if form.username.errors %} class="error"{% endif %}>Username:</label></p>
	<p>{{ form.username }}</p>
</div>
<div class="register_div">
	{% if form.password.errors %}<p class="error">{{ form.password.errors }}</p>{% endif %}
	<p><label for="password" {% if form.password.errors %} class="error"{% endif %}>Password:</label></p>
	<p>{{ form.password }}</p>
</div>
<p><input id="myButton" type="submit" alt="register" value="Login"/></p>
</form>
<FORM id="modify" METHOD="LINK" ACTION="{% url 'registration.views.UserRegistration' %}">
<INPUT id ="myButton" TYPE="submit" VALUE="New User? Click Here">
</FORM>
{% endblock %}