{% extends "base.html" %}

{% block content %}
    {% if reset_error %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>{ reset_error }</h4>
    </div>
    {% endif %}
    <form class="well form-inline" action="" method="post">
        {% csrf_token %}
        <table id='new' align="center">{{ form.as_table }}</table>
        <input class="btn btn-primary btn-small" id="myButton" type="submit" value="Reset Password &raquo;" />
    </form>
    <footer>
        <p>&copy; Dan Hoerst 2013</p>
    </footer>
{% endblock %}